USE [master]
GO
/****** Object:  Database [Pc_monster]    Script Date: 30.04.2025 19:25:56 ******/
CREATE DATABASE [Pc_monster]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pc_monster', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Pc_monster.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Pc_monster_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Pc_monster_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pc_monster].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pc_monster]
GO
/****** Object:  Table [dbo].[Заказ]    Script Date: 30.04.2025 19:25:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказ](
	[Код_заказа] [int] NOT NULL,
	[Код_пользователя] [int] NULL,
	[способ_оплаты] [nchar](10) NULL,
	[номер_заказа] [nvarchar](max) NULL,
	[трек_номер_заказа] [nvarchar](max) NULL,
	[Код_товара] [int] NULL,
	[название_товара] [nvarchar](50) NULL,
	[цена] [money] NULL,
 CONSTRAINT [PK_Заказ] PRIMARY KEY CLUSTERED 
(
	[Код_заказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[История заказов]    Script Date: 30.04.2025 19:25:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[История заказов](
	[Код_пользователя] [int] NULL,
	[Код_заказа] [int] NOT NULL,
	[трек_номер_заказа] [int] NULL,
	[номер_заказа] [int] NULL,
	[Код_истории_заказов] [int] NOT NULL,
 CONSTRAINT [PK_История заказов] PRIMARY KEY CLUSTERED 
(
	[Код_истории_заказов] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Категория]    Script Date: 30.04.2025 19:25:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Категория](
	[Код_категории] [int] NOT NULL,
	[название] [nvarchar](50) NULL,
 CONSTRAINT [PK_Категория] PRIMARY KEY CLUSTERED 
(
	[Код_категории] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Конфигурация]    Script Date: 30.04.2025 19:25:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Конфигурация](
	[Код_конфигурации] [int] NOT NULL,
	[Код_товара] [int] NULL,
	[название] [nvarchar](50) NULL,
	[описание] [nvarchar](max) NULL,
	[цена] [money] NULL,
 CONSTRAINT [PK_Конфигурация] PRIMARY KEY CLUSTERED 
(
	[Код_конфигурации] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователь]    Script Date: 30.04.2025 19:25:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователь](
	[Код_пользователя] [int] NOT NULL,
	[логин] [nvarchar](max) NULL,
	[электронная_почта] [nvarchar](max) NULL,
	[номер_телефона] [int] NULL,
	[пароль] [varchar](50) NULL,
	[ФИО] [nvarchar](50) NULL,
	[адрес] [nvarchar](max) NULL,
 CONSTRAINT [PK_Пользователь] PRIMARY KEY CLUSTERED 
(
	[Код_пользователя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Скидка]    Script Date: 30.04.2025 19:25:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Скидка](
	[Код_скидки] [int] NOT NULL,
	[название] [nvarchar](50) NULL,
	[описание] [nvarchar](max) NULL,
	[размер_скидки] [int] NULL,
	[Код_заказа] [int] NULL,
 CONSTRAINT [PK_Скидка] PRIMARY KEY CLUSTERED 
(
	[Код_скидки] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Товар]    Script Date: 30.04.2025 19:25:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Товар](
	[Код_товара] [int] IDENTITY(1,1) NOT NULL,
	[Код_категории] [int] NULL,
	[название] [nvarchar](50) NULL,
	[описание] [nvarchar](max) NULL,
	[цена] [money] NULL,
 CONSTRAINT [PK_Товар] PRIMARY KEY CLUSTERED 
(
	[Код_товара] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Уведомление]    Script Date: 30.04.2025 19:25:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Уведомление](
	[Код_уведомления] [int] IDENTITY(1,1) NOT NULL,
	[Код_пользователя] [int] NULL,
	[текст_уведомления] [nvarchar](max) NOT NULL,
	[время] [datetime] NOT NULL,
 CONSTRAINT [PK_Уведомление] PRIMARY KEY CLUSTERED 
(
	[Код_уведомления] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Элемент_заказа]    Script Date: 30.04.2025 19:25:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Элемент_заказа](
	[Код_элемента_заказа] [int] NOT NULL,
	[Код_заказа] [int] NULL,
	[Код_товара] [int] NULL,
	[количество] [int] NULL,
	[цена_за_еденицу] [int] NULL,
 CONSTRAINT [PK_Элемент_заказа] PRIMARY KEY CLUSTERED 
(
	[Код_элемента_заказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Категория] ([Код_категории], [название]) VALUES (1, N'Материнская плата')
INSERT [dbo].[Категория] ([Код_категории], [название]) VALUES (2, N'Процессор')
INSERT [dbo].[Категория] ([Код_категории], [название]) VALUES (3, N'Видеокарта')
GO
INSERT [dbo].[Конфигурация] ([Код_конфигурации], [Код_товара], [название], [описание], [цена]) VALUES (1, NULL, N'ПК ARDOR GAMING NEO M143', N'Intel Core i5-12400F, 6 x 2.5 ГГц, 16 ГБ DDR4, GeForce RTX 3050, SSD 1000 ГБ, без ОС, 1 x DisplayPort, 1 x DVI-D, 1 x HDMI, Intel H610, блок питания - 500 Вт', 69.4990)
INSERT [dbo].[Конфигурация] ([Код_конфигурации], [Код_товара], [название], [описание], [цена]) VALUES (2, NULL, N'ПК ARDOR GAMING RAGE H362', N'Intel Core i5-13400F, 6 x 2.5 ГГц, 32 ГБ DDR5, GeForce RTX 4060, SSD 1500 ГБ, без ОС, 1 x HDMI, 3 x DisplayPort, Wi-Fi, Bluetooth, Intel B760, блок питания - 650 Вт', 101.9990)
INSERT [dbo].[Конфигурация] ([Код_конфигурации], [Код_товара], [название], [описание], [цена]) VALUES (3, NULL, N'ПК ARDOR GAMING RAGE H343', N'Intel Core i5-13400F, 6 x 2.5 ГГц, 32 ГБ DDR5, GeForce RTX 4070, SSD 1000 ГБ, без ОС, 1 x HDMI, 3 x DisplayPort, Wi-Fi, Bluetooth, Intel B760, блок питания - 650 Вт', 139.4990)
GO
INSERT [dbo].[Скидка] ([Код_скидки], [название], [описание], [размер_скидки], [Код_заказа]) VALUES (1, N'Black Friday', N'Code: fridaysale', 50, NULL)
INSERT [dbo].[Скидка] ([Код_скидки], [название], [описание], [размер_скидки], [Код_заказа]) VALUES (2, N'Holiday Sale', N'Code: holiday30', 30, NULL)
INSERT [dbo].[Скидка] ([Код_скидки], [название], [описание], [размер_скидки], [Код_заказа]) VALUES (3, N'First order', N'Code: welcome', 20, NULL)
GO
SET IDENTITY_INSERT [dbo].[Товар] ON 

INSERT [dbo].[Товар] ([Код_товара], [Код_категории], [название], [описание], [цена]) VALUES (1, 1, N'Материнская плата MSI B650 GAMING PLUS WIFI', N'AM5, AMD B650, 4xDDR5-4800 МГц, 2xPCI-Ex16, 2xM.2, Standard-ATX', 17.9990)
INSERT [dbo].[Товар] ([Код_товара], [Код_категории], [название], [описание], [цена]) VALUES (2, 1, N'Материнская плата MSI PRO H610M-E DDR4', N'LGA 1700, Intel H610, 2xDDR4-3200 МГц, 1xPCI-Ex16, 1xM.2, Micro-ATX', 5.3990)
INSERT [dbo].[Товар] ([Код_товара], [Код_категории], [название], [описание], [цена]) VALUES (3, 1, N'Материнская плата GIGABYTE B550M AORUS ELITE', N'AM4, AMD B550, 4xDDR4-3200 МГц, 2xPCI-Ex16, 2xM.2, Micro-ATX', 9.9990)
SET IDENTITY_INSERT [dbo].[Товар] OFF
GO
SET IDENTITY_INSERT [dbo].[Уведомление] ON 

INSERT [dbo].[Уведомление] ([Код_уведомления], [Код_пользователя], [текст_уведомления], [время]) VALUES (1, NULL, N'Good morning! Get 20% Voucher', CAST(N'2025-04-30T00:00:00.000' AS DateTime))
INSERT [dbo].[Уведомление] ([Код_уведомления], [Код_пользователя], [текст_уведомления], [время]) VALUES (2, NULL, N'Special offer just for you', CAST(N'2025-05-02T00:00:00.000' AS DateTime))
INSERT [dbo].[Уведомление] ([Код_уведомления], [Код_пользователя], [текст_уведомления], [время]) VALUES (3, NULL, N'Holiday sale 50%', CAST(N'2025-05-09T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Уведомление] OFF
GO
ALTER TABLE [dbo].[Заказ]  WITH CHECK ADD  CONSTRAINT [FK_Заказ_Пользователь] FOREIGN KEY([Код_пользователя])
REFERENCES [dbo].[Пользователь] ([Код_пользователя])
GO
ALTER TABLE [dbo].[Заказ] CHECK CONSTRAINT [FK_Заказ_Пользователь]
GO
ALTER TABLE [dbo].[Заказ]  WITH CHECK ADD  CONSTRAINT [FK_Заказ_Пользователь1] FOREIGN KEY([Код_пользователя])
REFERENCES [dbo].[Пользователь] ([Код_пользователя])
GO
ALTER TABLE [dbo].[Заказ] CHECK CONSTRAINT [FK_Заказ_Пользователь1]
GO
ALTER TABLE [dbo].[Заказ]  WITH CHECK ADD  CONSTRAINT [FK_Заказ_Товар] FOREIGN KEY([Код_товара])
REFERENCES [dbo].[Товар] ([Код_товара])
GO
ALTER TABLE [dbo].[Заказ] CHECK CONSTRAINT [FK_Заказ_Товар]
GO
ALTER TABLE [dbo].[История заказов]  WITH CHECK ADD  CONSTRAINT [FK_История заказов_Заказ] FOREIGN KEY([Код_заказа])
REFERENCES [dbo].[Заказ] ([Код_заказа])
GO
ALTER TABLE [dbo].[История заказов] CHECK CONSTRAINT [FK_История заказов_Заказ]
GO
ALTER TABLE [dbo].[История заказов]  WITH CHECK ADD  CONSTRAINT [FK_История заказов_Пользователь] FOREIGN KEY([Код_пользователя])
REFERENCES [dbo].[Пользователь] ([Код_пользователя])
GO
ALTER TABLE [dbo].[История заказов] CHECK CONSTRAINT [FK_История заказов_Пользователь]
GO
ALTER TABLE [dbo].[Конфигурация]  WITH CHECK ADD  CONSTRAINT [FK_Конфигурация_Товар] FOREIGN KEY([Код_товара])
REFERENCES [dbo].[Товар] ([Код_товара])
GO
ALTER TABLE [dbo].[Конфигурация] CHECK CONSTRAINT [FK_Конфигурация_Товар]
GO
ALTER TABLE [dbo].[Скидка]  WITH CHECK ADD  CONSTRAINT [FK_Скидка_Заказ] FOREIGN KEY([Код_заказа])
REFERENCES [dbo].[Заказ] ([Код_заказа])
GO
ALTER TABLE [dbo].[Скидка] CHECK CONSTRAINT [FK_Скидка_Заказ]
GO
ALTER TABLE [dbo].[Товар]  WITH CHECK ADD  CONSTRAINT [FK_Товар_Категория] FOREIGN KEY([Код_категории])
REFERENCES [dbo].[Категория] ([Код_категории])
GO
ALTER TABLE [dbo].[Товар] CHECK CONSTRAINT [FK_Товар_Категория]
GO
ALTER TABLE [dbo].[Уведомление]  WITH CHECK ADD  CONSTRAINT [FK_Уведомление_Пользователь] FOREIGN KEY([Код_пользователя])
REFERENCES [dbo].[Пользователь] ([Код_пользователя])
GO
ALTER TABLE [dbo].[Уведомление] CHECK CONSTRAINT [FK_Уведомление_Пользователь]
GO
ALTER TABLE [dbo].[Элемент_заказа]  WITH CHECK ADD  CONSTRAINT [FK_Элемент_заказа_Заказ] FOREIGN KEY([Код_заказа])
REFERENCES [dbo].[Заказ] ([Код_заказа])
GO
ALTER TABLE [dbo].[Элемент_заказа] CHECK CONSTRAINT [FK_Элемент_заказа_Заказ]
GO
ALTER TABLE [dbo].[Элемент_заказа]  WITH CHECK ADD  CONSTRAINT [FK_Элемент_заказа_Товар] FOREIGN KEY([Код_товара])
REFERENCES [dbo].[Товар] ([Код_товара])
GO
ALTER TABLE [dbo].[Элемент_заказа] CHECK CONSTRAINT [FK_Элемент_заказа_Товар]
GO
USE [master]
GO
